<ul class="list-group">
{% for player in list %}
    {% if player.status != player.STATUS_REJECTED  %}
            <li class="list-group-item">
                <a href="{% url 'view_team' pk=player.video.id %}">{{ player.video.title }}</a>
                <div class="btn-group btn-group-xs pull-right">
                    {% if player.creator == user.school %}
                        <a class="btn btn-primary" title="Borrar" href="{% url 'delete_fav' pk=player.id %}">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    {% endif %}
                </div>
            </li>
    {% endif %}
{% endfor %}
</ul>

<div id="school_list" class="container">
    <div id="school_list" class="col-md-6">
        <ul class="list-group">
            {% for object in school_list %}
                {% if forloop.first %}
                    <li class="list-group-item">
                {% else %}
                    <li>
                {% endif %}

                <div class="btn-group btn-group-xs pull-right">
                {% if  school.user == user %}
                    <a class="btn btn-primary" title="Borrar" href="{% url 'delete_team' pk=object.id %}">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                {% endif %}
                </div>
                    </li>
            {% endfor %}
        </ul>
    </div>
</div>
