{% extends "_base.html" %}

{% block title %}{{ group_name }}{% endblock %}

{% block content %}
<p> <a id="view_group_1" class="btn btn-primary" href="{% url 'group_view_sub12' pk=1 %}">GRUPO 1</a></p>
<p> <a id="view_group_2" class="btn btn-primary" href="{% url 'group_view_sub12' pk=2 %}">GRUPO 2</a></p>
<p> <a id="view_group_3" class="btn btn-primary" href="{% url 'group_view_sub12' pk=3 %}">GRUPO 3</a></p>
<p> <a id="view_group_4" class="btn btn-primary" href="{% url 'group_view_sub12' pk=4 %}">GRUPO 4</a></p>
<p> <a id="view_group_5" class="btn btn-primary" href="{% url 'group_view_sub12' pk=5 %}">GRUPO 5</a></p>
<p> <a id="view_group_6" class="btn btn-primary" href="{% url 'group_view_sub12' pk=6 %}">GRUPO 6</a></p>
<p> <a id="view_group_7" class="btn btn-primary" href="{% url 'group_view_sub12' pk=7 %}">GRUPO 7</a></p>
<p> <a id="view_group_8" class="btn btn-primary" href="{% url 'group_view_sub12' pk=8 %}">GRUPO 8</a></p>
<p> <a id="view_group_9" class="btn btn-primary" href="{% url 'group_view_sub12' pk=9 %}">GRUPO 9</a></p>
<p> <a id="view_group_10" class="btn btn-primary" href="{% url 'group_view_sub12' pk=10 %}">GRUPO 10</a></p>
<p> <a id="view_group_10" class="btn btn-primary" href="{% url 'eliminatoria_view_sub12' %}">ELIMINATORIA</a></p>
{% endblock %}