{% extends "_base.html" %}
{% load staticfiles %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="row">
  <div class="alert alert-danger fade in">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
<strong>ATENCION!</strong> Todas las jugadoras deberan estar a las 15:45 en al puerta del pabellón EUROPA
  </div>
<h2 style="position:relative; left: 15%;">¿CUAL ES TU CATEGORIA?</h2>
</div>
<table width="100%" >
    <tr> <td> <a id="select_sub9" class="btn btn-primary" style="width: 400px" href="{% url 'group_view1_all' %}">SUB 9</a> </td> <td> <a id="select_sub12" class="btn btn-primary" style="width: 400px" href="{% url 'group_view2_all' %}">SUB 12</a></td> </tr>                            
                          
  </table>
<div class="row">
<div class="col-xs-12">
	

</div>

</div>
</div>
{% endblock %}