{% extends "_base.html" %}

{% block title %}{{ group_name }}{% endblock %}

{% block content %}


<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">GRUPO {{group_name}}</div>

  <!-- Table -->
  <table class="table">
    <thead>
    <tr>
        <th></th>
        <th>PJ</th>
        <th>G</th>
        <th>E</th>
        <th>P</th>
        <th>GF</th>
        <th>GC</th>
        <th>Pt</th>
        
    </tr>
    <!-- team1 -->
    </thead>
    {% for object in group %}
        {% if forloop.first %}
            <tbody><tr>
        {% else %}
           <tr>
        {% endif %}
        <th><a href="{% url 'update_team' pk=object.id%}">{{ object.name}}</th>
        <th>{{ object.matchs}}</th>
        <th>{{ object.wins}}</th>
        <th>{{ object.draw}}</th>
        <th>{{ object.lose}}</th>
        <th>{{ object.goalf}}</th>
        <th>{{ object.goalc}}</th>
        <th>{{ object.point}}</th>
            </tr>
    {% endfor %}
        </tr>
        </tbody>
  </table>
</div>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">PARTIDOS DEL GRUPO {{group_name}} {% if  school.superuser %}<a id="create_match_btn" class="btn btn-primary" href="{% url 'add_match' %}">Agregar partido</a>{% endif %}</div>

  <!-- Table -->
  <table class="table">
    <thead>
    <tr>
        <th>Partido</th>
        <th>Campo</th>
        <th>Hora</th>
        <th>Resultado</th>
    </tr>
    </thead>

    {% for object in group_matchs %}
        {% if forloop.first %}
            <tbody><tr>
        {% else %}
           <tr>
        {% endif %}
        <th>{% if  school.superuser %}<a href="{% url 'update_result' pk=object.id%}">{% endif %}{% if  not school.superuser %}<a href="{% url 'match_view' pk=object.id%}">{% endif %}{{ object}}</th>
        <th>{{ object.place}}</th>
        <th>{{ object.hora}} : {% if  object.minutes < 10%} 0{{ object.minutes}}{% endif %}{% if  not object.minutes < 10 %} {{ object.minutes}}{% endif %}</a></th>
        <th>{{ object.team1Score}} - {{ object.team2Score}}</th>
            </tr>
    {% endfor %}
        </tbody>
  </table>
</div>
        


{% endblock %}