{% extends "_base_form.html" %}

{% block head %}
    {{ form.media }}

    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/3.0.0/js/bootstrap-datetimepicker.min.js">
    </script>

    <link rel="stylesheet" type="text/css" media="screen" href="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/master/build/css/bootstrap-datetimepicker.min.css" />

{% endblock %}

{% block title %}Editar Jugadora/Delegado{% endblock %}

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Equipo:  {{ team.name }}   {% if player_list %}
        <a id="create_pdf_btn" class="btn btn-primary" href="{% url 'pdf' pk=team.id %}">PDF</a>
    {% endif %}</div>

  <!-- Table -->
  {% block list %}<table class="table">
    <thead>
    <tr>
        <th>Nombre</th>
        <th>Apellidos</th>
        <th>Apellidos</th>
    </tr>
    </thead>

    {% for object in player_list %}
        {% if forloop.first %}
            <tbody><tr>
        {% else %}
           <tr>
        {% endif %}
        <th>{{object.name}}</th>
        <th>{{object.surname1}}</th><th> {{object.surname2}}</th>
        </tr>
    {% endfor %}
        </tbody>
  </table>{% endblock %}
</div>

            {% block buttons%}
            <input id="send_btn" class="btn btn-info" type="submit" value="Enviar y continuar" name="continue">
            <input id="send_btn" class="btn btn-success" type="submit" value="Enviar y salir" name="submit">
            <input id="cancel_btn" class="btn btn-danger" type="submit" value="Cancelar" name="cancel">
            {% endblock %}