{% extends "_base.html" %}

{% block title %}Perfil de {{ school.user.username }}{% endblock %}

{% block content %}
<h2>Perfil de {{ school.user.username }}</h2>
<p>e-mail: {{ school.user.email }}</p>

{% if school_list%}
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Equipos  {% if player_list %}
    {% endif %}</div>

  <!-- Table -->
  <table class="table">
    <thead>
    <tr>
        <th>Nombre</th>
        <th>Categoria</th>
        <th>Numero de jugadoras</th>
        <th>Editar/Borrar</th>
    </tr>
    </thead>
{% for object in school_list %}
    {% if forloop.first %}
        <tbody><tr>
    {% else %}
        <tr>
    {% endif %}
        <th>{{object.name}}</th>
        <th>{{object.years}}</th>
        <th>{{object.playersnumber}}</th>
        <th><a href="{% url 'view_team' pk=object.id  %}"><i class="glyphicon glyphicon-eye-open"></i></a>/    {% if  school.user == user %}<a href="{% url 'delete_team' pk=object.id  %}"><i class="glyphicon glyphicon-trash"  style="color:red"> </i></a>{% endif %}</th>
            </tr>
    {% endfor %}
        </tbody>
  </table>
</div>


{% endif %}
<p>Registro: {{ school.user.date_joined }}</p>


{% endblock %}
