{% extends "_base.html" %}

{% block title %}{{ team.title }}{% endblock %}

{% block content %}
<h2>Equipo:{{ team.name }}</h2>
<p>Colegio:
    <a href="{% url 'profile_school' team.school.user.id%}">
        {{ team.school }}
    </a>
</p>

<h2>Jugadoras:</h2>
{% for object in player_list %}
    {% if forloop.first %}
        <li class="first">
    {% else %}
        <li>
    {% endif %}
    <p><p>{{object.name}} {{object.surname1}} {{object.surname2}} </p> <p>{{object.member}}</p> </p>
    </li>
{% endfor %}

<a id="create_player_btn" class="btn btn-primary" href="{% url 'add_player' pk=team.id %}">Agregar jugadora</a>
<p>Editado por última vez:
    {{ team.last_editing_date }}</p>
{% endblock %}
