{% extends "_base.html" %}

{% block title %}{{ team.title }}{% endblock %}

{% block content %}


{% if team.school.user == user %}
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Equipo:  {{ team.name }}   {% if player_list %}
        <a id="create_pdf_btn" class="btn btn-primary" href="{% url 'pdf' pk=team.id %}">PDF</a>
    {% endif %}</div>

  <!-- Table -->
  <table class="table">
    <thead>
    <tr>
        <th>Nombre</th>
        <th>Apellidos</th>
        <th>Fecha de nacimiento</th>
        <th>Editar/Borrar</th>
    </tr>
    </thead>

    {% for object in player_list %}
        {% if forloop.first %}
            <tbody><tr>
        {% else %}
           <tr>
        {% endif %}
        <th>{{object.name}}</th>
        <th>{{object.surname1}} {{object.surname2}}</th>
        <th>{{object.birthday}}</th>
        <th><a href="{% url 'view_player' pk=object.id  %}"><i class="glyphicon glyphicon-eye-open"></i></a>/<a href="{% url 'delete_player' pk=object.id  %}"><i class="glyphicon glyphicon-trash"  style="color:red" </i></a></th>
            </tr>
    {% endfor %}
        </tbody>
  </table>
</div>
        <a id="create_player_btn" class="btn btn-primary" href="{% url 'add_player' pk=team.id %}">Agregar jugadora</a>
{% endif %}
<p>Editado por última vez:
    {{ team.last_editing_date }}</p>
{% endblock %}
