{% extends "_base.html" %}
{% block title %}Acerca del II Torneo Intercolegio{% endblock %}

{% block content %}
<div class="col-md-12">
    <h3>Leganes FS</h3>
    <p class="text-justify">
    Si quieres informarte de nuestros equipos o estás decidida a formar parte de alguno de ellos pasa por la mesa de informacion que tenemos situada en la entrada del pabellón
    </p>

</div>
<div class="row">
	<div class="col-md-2">
		    <a href="https://twitter.com/LEGAFUTBOLSALA" class="twitter-follow-button" data-show-count="false">Follow @LEGAFUTBOLSALA</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
	</div>
	<div class="col-md-2">
		<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://torneointercolegios1.herokuapp.com" data-text="¡Menuda pasada el II torneo intercolegios Ciudad de Leganes!" data-via="LEGAFUTBOLSALA"  data-url="http://torneointercolegios1.herokuapp.com" data-hashtags="IITorneoInterColegioLeganes">Tweet</a>
	</div>
</div>

{% endblock %}
