{% extends "_base.html" %}
{% block title %}Acerca del II Torneo Intercolegio{% endblock %}

{% block content %}
<div class="col-md-12">
    <h3>Leganes FS</h3>
    <p class="text-justify">
    Con la ilusión que nos caracteriza volvemos a celebrar el segundo torneo intercolegio de Leganes.
    </p>
    <a href="https://twitter.com/LEGAFUTBOLSALA" class="twitter-follow-button" data-show-count="false">Follow @LEGAFUTBOLSALA</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</div>
<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://torneointercolegios.herokuapp.com" data-text="Yo ya voy con mi cole! II TORNEO INTERCOLEGIOS LEGANES" data-via="LEGAFUTBOLSALA" data-hashtags="IITorneoInterColegioLeganes">Tweet</a>


{% endblock %}
